<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>Alex Wallish</title>

</head>

<nav class="navbar navbar-custom">
    <p class="nav-link mr-auto px-4 green-text" href="/">Logo</p>
    <a class="nav-elem px-5" href="/about">about</a>
    <a class="nav-elem pr-5" href="/work">work</a>
    <a class="nav-elem pr-5" href="/projects">projects</a>
    <a class="nav-elem pr-5" href="/writing">writing</a>
    <a class="navbar-brand" href="#">
        <img src="/public/css/images/email.svg" width="50" height="50" alt="">
    </a>
    <a class="navbar-brand" href="#">
        <img src="/public/css/images/twitter.svg" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="#">
        <img src="/public/css/images/linkedin.svg" width="30" height="30" alt="">
    </a>

    <p class="nav-link px-5"></p>
</nav>

<body>
    {{{body}}}
</body>


<div class="footer">
    <div class="d-flex flex-row mx-auto py-3 justify-content-center">
        <a href="/about" class="pr-3">about</a>
        <a href="/work" class="px-3">work</a>
        <a href="/projects" class="px-3">projects</a>
        <a href="/writing" class="pl-3">writing</a>
    </div>
    <div class="d-flex flex-row mx-auto py-3 justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="/public/css/images/email.svg" width="50" height="50" alt="">
        </a>
        <a class="navbar-brand" href="#">
            <img src="/public/css/images/twitter.svg" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="#">
            <img src="/public/css/images/linkedin.svg" width="30" height="30" alt="">
        </a>
    </div>
</div>

</html>