<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <title>Alex Wallish</title>
</head>

<nav class="navbar navbar-custom">
    <p class="nav-link mr-auto px-4" href="/">Logo</p>
    <a class="nav-elem px-5" href="/about">about</a>
    <a class="nav-elem pr-5" href="/work">work</a>
    <a class="nav-elem pr-5" href="/projects">projects</a>
    <a class="nav-elem pr-5" href="/blog">blog</a>
    <a class="navbar-brand" href="#">
        <img src="/public/css/images/email.svg" width="50" height="50" alt="">
    </a>
    <a class="navbar-brand" href="#">
        <img src="/public/css/images/twitter.svg" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="#">
        <img src="/public/css/images/linkedin.svg" width="30" height="30" alt="">
    </a>

    <p class="nav-link px-5"></p>
</nav>

<body>
    {{{body}}}
</body>

</html>