<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/uikit/css/uikit.min.css">
    
    <title>Alex Wallish</title>

</head>


<body>
    {{{body}}}
</body>



<footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large" data-uk-grid>
            <div class="uk-width-1-2@m">
                <div>
                    <a href="http://twitter.com/alexwallish" class="uk-icon-button" target="_blank" data-uk-icon="twitter"></a>
                    <a href="https://github.com/awallish" class="uk-icon-button" class="uk-icon-button" target="_blank" data-uk-icon="github"></a>
                    <a href="https://www.linkedin.com/in/alexwallish" class="uk-icon-button" class="uk-icon-button" target="_blank" data-uk-icon="linkedin"></a>
                    <a href="mailto:alex.wallish@gmail.com" class="uk-icon-button" class="uk-icon-button" target="_blank" data-uk-icon="mail"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
        <span class="uk-text-small uk-text-muted">© 2020 Alex Wallish</span>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>

</html>