<p class="blue-text">I'm not talented, im obsessed.  -- connor mcgreggor</p>
<p class="blue-text">If I had to put the recipe for genius into one sentence, 
    that might be it: to have a disinterested obsession with something that matters. -- Paul Graham</p>
<p class="blue-text">Chance favors the prepared mind. -- Pasteur</p>