<div class="container blue-text" id="main-content">
    <div class="py-5 px-3" id="home-text">
        <h1 class="pt-5 px-3">Hi, I'm Alex.</h1>
        <h3 class="py-3 px-5">I'm a developer and product person.</h3>
        <h3 class="px-5">If you're working on something exciting, let's talk.</h3>
    </div>
</div>



<div class="separator blue-text"><h3>Recent Stuff</h3></div>
<div class="container">
    <div class="py-3 px-5 card-deck" id="latest-work">

        {{# each data}}
        <div class="card">
            <img src={{this.thumbnail}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.type}}</p>
                <a href={{this.href}} class="stretched-link"></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>




<canvas class="background"></canvas>


<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
<script src="/public/js/home.js"></script>