<div class="container">
    <div class="row py-5">
        <div class="col">
            <h2 class="blue-text">Here are some of the things I've worked on aside work:</h2>
        </div>
    </div>

    <a class="non-underline" href="#" target="_blank">
        <div id="honey-carbon">
            <div class="my-card">
                <div class="row">
                    <div class="col pl-5">
                        <div class="row py-3">
                            <div class="col-9">
                                <h1 class="blue-text">Evergreen</h1>
                            </div>
                            <div class="col">
                                <h4 class="blue-text py-1">Dec 2019 - Present</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <h5 class="blue-text">Evergreen helps consumers purchase products with a lower carbon
                                    footprint and offset carbon costs of their purchases.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <br>
    <br>

    <a class="non-underline" href="#" target="_blank">
        <div id="linkedin-api">
            <div class="my-card">
                <div class="row">
                    <div class="col pl-5">
                        <div class="row py-3">
                            <div class="col-9">
                                <h1 class="blue-text">imme.dev</h1>
                            </div>
                            <div class="col">
                                <h4 class="blue-text py-1">Nov 2019 - Present</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <h5 class="blue-text">imme helps developers reap the same network benefits from their
                                    personal site as they would from linkedin by adding a single api endpoint to their
                                    site. Their personal site is their new "Linkedin Profile" in the network.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <br>
    <br>

    <a class="non-underline" href="https://www.techinternship.io" target="_blank">
        <div id="techinternship.io">
            <div class="my-card">
                <div class="row">
                    <div class="col pl-5">
                        <div class="row py-3">
                            <div class="col-9">
                                <h1 class="blue-text">techinternship.io</h1>
                            </div>
                            <div class="col">
                                <h4 class="blue-text py-1">May 2019 - Present</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <h5 class="blue-text">A platform for helping connect university students with tech
                                    internships. Used by over 5000 students to help find opportunties, apply to them,
                                    and
                                    keep track of ongoing applications.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <br>


</div>