<div class="container">
    <div class="row py-3">
        <div class="col">
            <h1 class="blue-text"> I'm a full stack software engineer. </h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 class="blue-text pl-2">Languages I've worked in:</h2>
            <ul>
                <li class="blue-text">
                    <h6>Python</h6>
                </li>
                <li class="blue-text">
                    <h6>JavaScript</h6>
                </li>
                <li class="blue-text">
                    <h6>C++</h6>
                </li>
                <li class="blue-text">
                    <h6>Java</h6>
                </li>
            </ul>
        </div>
        <div class="col">
            <h2 class="blue-text">Things I do:</h2>
            <ul>
                <li class="blue-text">
                    <h6>Machine Learning</h6>
                </li>
                <li class="blue-text">
                    <h6>Full stack development</h6>
                </li>
                <li class="blue-text">
                    <h6>Product</h6>
                </li>
                <li class="blue-text">
                    <h6>Data Science</h6>
                </li>
            </ul>
        </div>
    </div>

    <h2 class="py-2 blue-text">Places I've worked:</h2>

    <div id="belvedere">
        <div class="my-card">
            <div class="row">
                <div class="col">
                    <img src="/public/css/images/tesla.jpg" width="120" height="120"
                        alt="Belvedere Trading Logo">
                </div>
                <div class="col-10 pl-5">
                    <div class="row">
                        <div class="col">
                            <h2 class="blue-text">Tesla</h2>
                        </div>
                        <div class="col">
                            <h4 class="blue-text py-1">Mar 2020 - Jun 2020</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="blue-text py-1">Software Engineer Intern</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="blue-text">Whoooooo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div id="belvedere">
        <div class="my-card">
            <div class="row">
                <div class="col">
                    <img src="/public/css/images/belvedere-logo.png" width="120" height="120"
                        alt="Belvedere Trading Logo">
                </div>
                <div class="col-10 pl-5">
                    <div class="row">
                        <div class="col">
                            <h2 class="blue-text">Belvedere Trading</h2>
                        </div>
                        <div class="col">
                            <h4 class="blue-text py-1">Jan 2020 - Mar 2020</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="blue-text py-1">Software Engineer Intern</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="blue-text">Helping build software to programatically understand the markets and
                                trade billions of dollars worth of financial products each year.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="barclays">
        <div class="my-card">
            <div class="row">
                <div class="col">
                    <img src="/public/css/images/barclays-logo.png" width="120" height="120" alt="Barclays Logo">
                </div>
                <div class="col-10 pl-5">
                    <div class="row">
                        <div class="col">
                            <h2 class="blue-text">Barclays Investment Bank</h2>
                        </div>
                        <div class="col">
                            <h4 class="blue-text py-1">Jun 2019 - Aug 2019</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="blue-text py-1">Software Engineer Intern</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="blue-text">I worked on the research team and was tasked with building out a tool
                                to help make compliance reporting simpler. I worked primarily in Java, using Spring
                                Boot, and deployed on AWS.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>