<div class="container">
    <h1 class="px-3 pt-5 blue-text">
        I'm a full stack software engineer.
    </h1>
    <h2 class="px-5 py-2 blue-text">Languages I've worked in:</h2>
    <div class="px-5">
        <h4 class="px-5 blue-text">- Python</h4>
        <h4 class="px-5 blue-text">- JavaScript</h4>
        <h4 class="px-5 blue-text">- C++</h4>
        <h4 class="px-5 blue-text">- Java</h4>
    </div>
    <h2 class="px-5 py-2 blue-text">Things I do:</h2>
    <div class="px-5">
        <h4 class="px-5 blue-text">- Machine Learning</h4>
        <h4 class="px-5 blue-text">- Back end development</h4>
        <h4 class="px-5 blue-text">- Full stack development</h4>
        <h4 class="px-5 blue-text">- Data Science</h4>
    </div>
    <h2 class="px-5 py-2 blue-text">Places I've worked:</h2>
    <div class="px-5">
        <div class="px-5">
            <div class="my-card">
                <img src="/public/css/images/belvedere-logo.png" class="px-3 py-3" width="120" height="120" alt="Belvedere Trading Logo">
                <h2 class="px-3 py-2 blue-text">Belvedere Trading</h2>
            </div>
        </div>
    </div>
</div>